/*font-family: 'PT Sans', sans-serif;*/

body{
  font-family: 'PT Sans', sans-serif;
  color: #010101;

}
/*header start*/
header{

    background-color:#17A2B8;
    padding:10px 0;   
}

/*header end*/